@mixin button-size ($padding-y, $padding-x, $font-size, $border-radius) {
    padding: $padding-y $padding-x;
    font-size: $font-size;
    border-radius: $border-radius; 
}

@mixin button-type(
    $background-color,
    $border,
    $color,
    $hover-background: lighten($background-color, 7.5%),
    $hover-border: lighten($border, 10%),
    $hover-color: $color,
){
    color: $color;
    background-color: $background-color;
    border-color: $border;
    &:hover,
    &:focus,
    &.focus{
        color: $hover-color;
        background-color: $hover-background;
        border-color: $hover-border;
    }
    &:disabled,
    &.disabled{
        color: $color;
        background-color: $background;
        border-color: $border;
    }
}