.alert {
  display: inline-flex;
  // position: relative;
  padding: $alert-padding-y $alert-padding-x;
  border-width: 1px;
  border: 1px solid transparent;
  border-radius: $alert-border-radius;
  
  box-shadow: $alert-box-shadow;
  min-width: 200px;
  .right{
    margin-left: auto;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    transform: rotate(45deg);
  }
}
.alert-default {
  @include alert-type($gray-200, black);
}
.alert-success {
  @include alert-type($success, white);
}
.alert-danger {
  @include alert-type($danger, white);
}
.alert-warning {
  @include alert-type($warning, white);
}